*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    width: 100%;
    font-size: 15px;
    font-size: 15px;
    color:white ;
    line-height: 1.6;
}
@font-face {
    font-family: regular;
    src: url(Poppins-Regular.ttf) format('truetype');
}
@font-face {
    font-family: pop;
    src: url(Poppins-Bold.ttf) format('truetype');
}
@font-face {
    font-family: semi;
    src: url(Poppins-SemiBold.ttf) format('truetype');
}
@font-face {
    font-family: pmedium;
    src: url(Poppins-Medium.ttf) format('truetype');
}
.container{
    width: 100%;/*this was initially commented*/
    min-height: 100vh;/*this was 80%*/
    display: flex;
    background:hsl(0, 100%, 74%) url(bg-intro-desktop.png) no-repeat;
    background-size: cover;
   /* margin: 10vh 10vw;*/
    gap: 35px;
    align-items: center;
    justify-content: center;/*formerly not here*/
    font-family: regular;

   
}
.container .words{
    width: 40%;/*formerly 45%*/
    display: flex;
    flex-direction: column;
    justify-content: center;
height: 100%;
padding: 25px 0px 25px 25px;
}
.container .words h1{
    font-family: pop;
    margin-bottom: 20px;
    width:70%
}
.container .form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;/*formerly 55*/
    padding: 10px 20px;/*after resolving svg resolve the margin below inpput fields to matcg the design*/
}
.container .form .top{
    margin-bottom: 20px;
background-color: hsl(248, 32%, 49%);    
padding: 15px;
    border-radius: 5px;
    text-align: center;
    font-family: regular;
    box-shadow: 0px 7px  rgba(0, 0, 0,0.2);
    
}
.container .form .top span{
    font-family: pop;

}
.container .form form{
    display: grid;
    height:100%;
    background-color: white;
    padding: 30px;
    border-radius: 5px;
    grid-template-columns: 100%;
    justify-content: space-between;
    box-shadow: 0px 7px rgba(0, 0, 0,0.2);
}
 

.input-group{
    position: relative;
    margin-bottom: 18px;
}

.input-group input{
    padding: 15px 30px;
    border-radius: 5px;
    border:1px solid hsl(246, 25%, 77%);
    font-family: semi;
    width: 100%;
}
.error input{
    border:2px solid hsl(0, 100%, 74%) ;
    color: hsl(0, 100%, 74%);
}
.empty input::placeholder{
    opacity: 0;
}
.sucess input{
    border:1px solid hsl(246, 25%, 77%);

}

.input-group input:valid{
    color:hsl(249, 10%, 26%) ;
    
}
.input-group input:focus{
    outline:2px solid hsl(249, 10%, 26%) ;
    border: none;
    color:hsl(249, 10%, 26%) ;
}
.input-group span{
    color: hsl(0, 100%, 74%);
    font-style: italic;
   display: flex;
   justify-content: end;
   font-family: pmedium;
    font-size: 12px;

}
.input-group svg{
    position: absolute;
    right: 20px;
    top: 15px;
    visibility: hidden;
    }


form .btn{
    margin-top: 0px;
    margin-bottom: 10px;
    font-family:semi ;
    background-color:hsl(154, 59%, 51%) ;
    padding: 14px;
    color: white;
    border: none;
    border-radius: 5px;
}
form p{
    
    font-family: pmedium;
    color:  hsl(246, 25%, 77%);
    text-align: center;
    font-size: 10px;
}
form p #red{
    color:  hsl(0, 100%, 74%);
}
/*active states*/
.btn:hover{
    background-color:rgb(56, 204, 140,0.7) ;
    cursor: pointer;

}
.btn:focus{
    background-color:rgb(56, 204, 140,0.7) ;
outline: none;
}


 /*input:required:invalid,input:empty{
    background-image: url(icon-error.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-origin: content-box;
}*/


@media (max-width:768px){
    .container{
        font-size: 17px;
        flex-direction:column;
        height:100%;
        width:100%;
        align-items: center;
        gap: 10px;
        background-image: url(bg-intro-desktop.png);
        
    }
    .container .words{
        text-align: center;
        width: 100%;
        margin: auto;
        padding: 5px;
    }
    .container .words h1{
        width: inherit;
    }
    .container .form{
        width:100%;
        padding: 10px 5px 30px 5px;
        margin-top: 10px;
    }
    form p{
        font-size: 13px;;
    }
}